body{
	padding:40px 0;
}
body{

background-color:#EFECCD
}



.header{
background-color: #B5B5B5;
color: white;
text-align: center;
margin-bottom: 40px;
}
.card{

	background-color: white;
	width:50%;
	border:white solid 10px;
	border-radius: 30px;
	margin-left: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
}
.textleft{
	float: left;
	width: 30%;
	height: 200px;
	padding-left: 30px;
}
.textright{
	height: 200px;
}
.textright::after{

	clear:both;
}